<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>打赏技师</title>
    <link href="../css/iview.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../css/overlay.css">
    <link rel="stylesheet" href="../css/global.css" />
    <script src="../js/jquery.js"></script>
    <script src="../js/vue.js"></script>    
	
	<!--<script type="text/javascript" src="../vendor/iview/dist/iview.min.js"></script>-->
	<script type="text/javascript" src="../js/iview.min.js"></script>
	
    <style>
        #app {
        }

        .circle {
            width: 40px;
            height: 40px;
            border-radius: 150px;
            margin: auto;
            border: 2px solid;
            text-align: center;
            line-height: 40px;
            color: #D5B32B;
        }
    </style>
</head>

<body>
    <div id="app" style="background:#eee; padding-top: 10px; padding-bottom: 10px;">
        <row>
            <i-col :offset="1" span="22">
                <i-input id="searchinput" v-model="model1" placeholder="Enter something..." v-on:input="getSearchList" />
            </i-col>
        </row>
        <row id="content" style="margin-bottom: 15%; margin-top: 6px;">
            <card :bordered="false" dis-hover v-for="item in list" v-show="item.show" style="margin-bottom: 6px">
                <row type="flex" justify="space-between" align="middle" :gutter="16">
                    <i-col span="5" @click.native="tech_info(item.job_number,item.state)">
                        <row>
                            <i-col span="24">
                                <p style="text-align: center; font-size: 12px; color: gray; transform: translateY(-40%);">
                                    {{ item.job_number }}号
                                </p>
                            </i-col>
                        </row>
                        <row type="flex">
                            <i-col span="24">
                                <div style="text-align: center">
                                    <img :src="item.avatar_url" style="height: 60px; width: 60px; border-radius: 50px;" />
                                </div>
                            </i-col>
                        </row>
                    </i-col>

                    <i-col span="15" @click.native="tech_info(item.job_number,item.state)">
                        <row style="margin-top: -10px" type="flex" align="bottom">
                            <i-col span="18">
                                <rate show-text allow-half v-model="item.rate" disabled style="font-size: 15px">
                                    <span style="color: #f5a623; margin-left: -20px">{{ item.rate }}分</span>
                                </rate>
                            </i-col>
                            <i-col span="6">
                                <p style="font-size: 10px; color: #19be6b;">
                                    <!--{{ item.price }}元/钟-->
                                </p>
                            </i-col>
                        </row>
                        <row :gutter="2">
                            <i-col span="8" v-for="dir in item.photo_list"><img :src="dir['img']" style="height: 65px; width: 65px;" /></i-col>
                        </row>
                    </i-col>

                    <i-col span="4">
                        <div @click="choose_tech(item)" class="circle" :style="[{'font-size': (item.state === 1 ? '10' : '12') + 'px'}, {'color':(item.check === 0 ? '#875522':'#91df6f')}, {'border-color': (item.state === 1 ? '#875522' : '#D5B32B')}]">
                            <span v-if="item.check === 1" style="font-size: 16px">√</span>
                            <span v-else>选择</span>
                        </div>
                    </i-col>
                </row>

                <row type="flex" justify="start" style="margin-top: 5px" :gutter="16" @click.native="tech_info(item.job_number,item.state)">
                    <i-col span="5">
                        <p style="text-align: center">
                            {{ item.level }}
                        </p>
                    </i-col>
                    <!-- <i-col span="15">
                        <p>
                            当前状态: <span :style="{color: item.state === 1 ? '#ed4014' : '#19be6b' }">{{ item.state ===
                                1? '繁忙' : '空闲' }}</span>
                        </p>
                    </i-col> -->
                </row>
            </card>
        </row>
        <!--<back-top></back-top>-->
        <row>
            <div style="height: 10%;width: 100%;position: fixed;bottom: 0;background-color: white;display: flex;">
                <div style="height: 100%;flex: 0 0 25%;display: flex;align-items: center;justify-content: center"
                    @click="window.location.href = 'index.html'">
                    <div style="width: 40px">
                        <img src="../src/主页激活.png" alt="" style="height: 25px;width:25px">
                        <a style="font-size: 14px;font-weight: 200;">主页</a>
                    </div>
                </div>
                <div style="height: 100%;flex: 0 0 25%;display: flex;align-items: center;justify-content: center">
                    <div style="width: 40px">
                        <img src="../src/电话.png" alt="" style="height: 25px;width:25px">
                        <a :href="'tel:'+tel" style="font-size: 14px;font-weight: 200;">客服</a>
                    </div>
                </div>
                <div style="height: 100%;flex: 0 50%;display: flex;align-items: center;justify-content: center">
                    <button @click="down_order" style="width: 85%;height: 70%;background-color: #2b85e4;color: white;border-radius: 5px;font-size: 18px">确认打赏</button>
                </div>
            </div>
        </row>
        <div style="height: 60px;width:60px;position: fixed;background-color: white;bottom: 70px;right: 30px; display: flex;align-items: center;justify-content: center;border-radius: 50%;border: 1px #fe736c solid;"
            onclick="call()">
            <div style="width: 100%;height: 100%;text-align: center;padding-top: 8px">
                <img src="../src/分享.png" alt="" style="height: 25px;width:25px">
                <h1 style="font-size: 14px;font-weight: 200;color: #fe736c">分享</h1>
            </div>
        </div>
        <div id="modal-overlay" v-show="overlay">
            <div class="modal-data">
                <img src="../src/loading.gif" />
            </div>
        </div>
    </div>
</body>


<!-- <script src="https://cdn.bootcss.com/element-ui/2.4.0/index.js"></script> -->
<script type="text/javascript" src="../js/windowOpen.js"></script>

<!--<script src="../vendor/soshm/dist/soshm.min.js"></script>-->
<script src="../js/soshm.min.js"></script>

<script>
    function call() {
        soshm.popIn({
            title: '技师分享',
            sites: ['weixin', 'weixintimeline', 'weibo', 'qzone', 'qq'],
            url: location.href,
            digest: ''
        });
    }

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }
    var list = [];
    var searchListOut = [];
    let Main = {
        data() {
            return {
                overlay: true,
                model1: '',
                jishiList: [],
                vip_discount: 100,
                serviceList: [{
                    value: -1,
                    label: "全部",
                    info: "",
                    duration: 0,
                    price: 0,
                    discount: 100,
                }],
                choose_jbnb: null,
                tel: "",
                list: [],
                searchList: [],
                open: '',
                close: '',
            }
        },
        methods: {
            getSearchList() {
                var that = this;
                // $("#content").css('display','none');
                $.post("../php/getSearch.php", {
                    jobNumber: this.model1
                }).done((result) => {
                    result = JSON.parse(result);
                    this.searchList.splice(0, this.searchList.length);
                    for (var i = 0; i < result.data.length; i++) {
                        var tech = result.data[i];
                        that.searchList.push({
                            avatar_url: tech.photo, //头像
                            job_number: tech.job_number,
                            photo_list: tech.img_list,
                            rate: tech.rate,
                            state: tech.busy,
                            skills: that.sv,
                            level: tech.level,
                            hot: 1,
                            check: false,
                            show: true
                        })

                    }
                    that.sort_by(0, 'rate');
                    this.choose_tech({state:0,job_number:this.choose_jbnb});
                    that.overlay = false;
                    this.list = this.searchList;
                })
            },

            check_busy() //检查技师是否忙碌，这个页面没有用到
            {
                var that = this;
                that.overlay = true;
                that.list = [];
                $.post("../php/getalltech.php", {
                    time: that.timePick
                }).done((result) => {
                    result = JSON.parse(result);
                    for (var i = 0; i < result.data.length; i++) {
                        var tech = result.data[i];
                        that.list.push({
                            avatar_url: tech.avatar_url.replace('..', '/wechat_zu_technician/'),
                            job_number: tech.job_number,
                            photo_list: tech.photo_list,
                            rate: tech.rate,
                            state: tech.busy,
                            skills: tech.skill,
                            level: tech.level,
                            hot: tech.hot,
                            check: 0,
                            show: true
                        })
                    }
                    that.sort_by(0, 'rate');
                    that.overlay = false;
                })
            },
            choose_tech(item) //选择某个技师
            {
                if (item.state === 1) return;
                var that = this;
                this.choose_jbnb = item.job_number;
                for (var i = 0; i < that.list.length; i++) {
                    if (item.job_number == that.list[i].job_number) {
                        if (that.list[i].check == 1) {
                            that.list[i].check = 0;
                        } else {
                            that.list[i].check = 1;
                        }
                    } else {
                        that.list[i].check = 0;
                    }
                }
            },

            navi(url, job_number) { //页面跳转
                window.location.href = url + "?job_number=" + job_number
            },

            tech_info(job_number, state) {
                // let timepick = new Date((new Date().toDateString() + ' ' + app.timePick));
                // if (new Date() > timepick) this.timePick = new Date().toTimeString().slice(0, 5);
                window.location.href = "tech-info.html?job_number=" + job_number + "&mode=dashang"
            },

            down_order() { //确认打赏
                var that = this;
                var count = 0;
                for (var i = 0; i < that.list.length; i++) {
                    if (that.list[i].check == 1) {
                        // window.location.href = "confirm-order.html?job_number=" + that.list[i].job_number +
                        //     "&start-time=" + that.timePick + "&sv=all"
                        // 这里我改了一下，原来就是我注释掉的那两行
                        
						//window.localStorage.setItem("job_number", that.list[i].job_number);
                        window.location.href = "querendashang.html?job_number=" + that.list[i].job_number
                        break;
                    } else {
                        count++;
                    }
                }
                if (count == that.list.length) {
                    $(this).openWindow("", '请至少选择一位技师', ['好的']);
                }
            },
            sort_by(idx, keyName) {
                var that = this;
                var sort = function (keyName) {
                    return function (objectN, objectM) {
                        var valueN = objectN[keyName]
                        var valueM = objectM[keyName]
                        if (valueN < valueM) return 1
                        else if (valueN > valueM) return -1
                        else return 0
                    }
                }
                this.list.sort(sort(keyName));
            },

            reshow() {
                for (var i = 0; i < this.list.length; i++) {
                    this.list[i].show = true;
                }
            }
        },

        created() {
            console.log(this)
            var that = this;

            $.post("../php/getservice.php").done((result) => {
                result = JSON.parse(result);
                if (result.status) {
                    for (var i = 0; i < result.data.length; i++) {
                        var service = result.data[i];
                        that.serviceList.push({
                            value: service['ID'],
                            label: service['name'],
                            info: service['info'],
                            duration: service['duration'],
                            price: service['price'],
                            discount: service['discount'],
                        })
                    }
                }
            });

            $.post("../php/getshoptime.php").done((result) => {
                result = JSON.parse(result);
                if (result.status == 1) {
                    that.tel = result.data.tel;
                    that.open = result.data.open_time;
                    that.close = result.data.close_time;
                }
            });

            $.post("../php/getalltech.php").done((result) => {
                result = JSON.parse(result);
                for (var i = 0; i < result.data.length; i++) {
                    var tech = result.data[i];
                    that.list.push({
                        avatar_url: tech.photo, //头像
                        job_number: tech.job_number,
                        photo_list: tech.img_list,
                        rate: tech.rate,
                        skills: that.sv,
                        level: tech.level,
                        hot: 1,
                        check: false,
                        show: true
                    })
                }
                that.sort_by(0, 'rate');
                if ( jbnb = getQueryString('job_number')) {
                    this.choose_jbnb = jbnb;
                    for (var i = 0; i < that.list.length; i++) {
                        if (jbnb == that.list[i].job_number) {
                            if (that.list[i].check == 1) {
                                that.list[i].check = 0;
                            } else {
                                that.list[i].check = 1;
                            }
                        } else {
                            that.list[i].check = 0;
                        }
                    }
                }

                that.overlay = false;
            })
            // $.post("../php/getalltech.php").done((result) => {
            //     result = JSON.parse(result);
            // 	this.jishiList = result.data;
            //     for (var i = 0; i < result.data.length; i++) {
            //         var tech = result.data[i];
            //         that.list.push({
            //             avatar_url: tech.avatar_url,//.replace('..', '/wechat_zu_technician/'),
            //             job_number: tech.job_number,
            //             //description: '网红技师',
            //             photo_list: tech.photo_list,
            //             rate: tech.rate,
            //             state: tech.busy,
            //             skills: tech.skill,
            //             level: tech.level,
            //             hot: tech.hot,
            //             check: 0,
            //             show: true
            //         })
            //     }
            //     that.sort_by(0, 'rate');
            //     that.overlay = false;
            // })
        }
    };
    let Component = Vue.extend(Main);
    let app = new Component().$mount('#app');
</script>

</html>