<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>订单详情</title>
    <link href="../css/iview.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/overlay.css">
    <style>
        /*页面总样式*/
        
        body {
            padding: 8px;
            background-color: rgb(245, 245, 245);
        }
        /*卡片样式*/
        
        .ivu-card {
            margin-bottom: 8px;
        }
        /*取消表格边框*/
        
        .ivu-table-wrapper {
            border: 0;
        }
        
        .ivu-table:before {
            width: 0;
        }
        
        .ivu-table:after {
            width: 0;
        }
    </style>
</head>

<body>
    <div id="app">
        <row>
            <i-col span="24">
                <card dis-hover style="text-align: center">
                    <row>
                        <img :src="logo" alt="" style="width: 60px; height: 60px;border-radius: 150px;">
                    </row>
                    <row>
                        <strong style="font-size: 16px; color: #464c5b;">订单已完成</strong>
                    </row>
                    <row>
                        <span style="font-size: 12px; color: #9ea7b4;">感谢您对御足堂影院式足道的信任，期待再次光临</span>
                    </row>
                    <row style="margin-top: 6px">
                        <i-button><a style="color:#000000" :href="'tel:'+phone">联系客服</a></i-button>
                        <i-button v-if="orderData['state'] != 5"type="error" @click="location.href='appraise.html?id='+encodeURI(orderData.order_id)">评价服务</i-button>
                        <i-button type="primary" @click="again()">再来一单</i-button>
                    </row>
                </card>
            </i-col>
        </row>

        <row v-if="appointmentData">
            <i-col span="24">
                <card dis-hover title="预约信息" style="font-size: 12px; color: #657180;">
                    <row v-text="'预约时间:'+ date('Y-m-d H:i:s',appointmentData.appoint_time)"></row>
                    <row>预约人数: {{ appointmentData.people_num }}人</row>
                </card>
            </i-col>
        </row>

        <row>
            <i-col span="24">
                <card dis-hover title="服务信息">
                    <!--服务信息表格-->
                    <i-table :columns="serviceColumns" :data="serviceData" :show-header="false" disabled-hover>
                        <div slot="footer">
                            <row type="flex" justify="space-between">
                                <i-col span="12"></i-col>
                                <i-col span="12">
                                    <span style="float: right">
                                实付 &nbsp
                                <span style="font-size: 16px">¥{{ totalPrice }}</span>
                                    </span>
                                </i-col>
                            </row>
                        </div>
                    </i-table>
                </card>
            </i-col>
        </row>

        <row>
            <i-col span="24">
                <card dis-hover title="技师信息">
                    <!--技师信息表格-->
                    <i-table :columns="tncColumns" :data="tncData" :show-header="false" disabled-hover></i-table>
                </card>
            </i-col>
        </row>

        <row>
            <i-col span="24">
                <card dis-hover title="订单信息" style="font-size: 12px; color: #657180;">
                    <row>订单号: {{ orderData.order_id }}</row>
                    <row>支付方式: {{ orderData.payment_method }}</row>
                    <row v-text="'下单时间:'+date('Y-m-d H:i:s',orderData.generated_time)"></row>
                    <row>下单用户: {{ orderData.user_id }}</row>
                </card>
            </i-col>
        </row>
        <div id="modal-overlay" v-show="overlay">
            <div class="modal-data">
                <img src="../src/loading.gif" />
            </div>
        </div>
    </div>
</body>
<script src="../js/vue.js"></script>
<script src="../js/iview.js"></script>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/date-format.js"></script>

<script>
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    let Main = {
        data() {
            return {
                serviceColumns: [{
                        title: 'Name',
                        key: 'serviceName'
                    }, // 服务名称
                    {
                        title: 'Counts',
                        key: 'counts',
                        width: 50,
                        render: (h, params) => {
                            // 筛除无数据的项目
                            if (params.row.counts) {
                                return h('div', [
                                    h('span', 'x'),
                                    h('span', params.row.counts)
                                ]);
                            }
                        }, // 自定义渲染模板
                    }, // 次数
                    {
                        title: 'Price',
                        key: 'servicePrice',
                        align: 'right',
                        width: 80,
                        render: (h, params) => {
                            return h('div', [
                                h('span', {
                                    style: {
                                        fontSize: '9px'
                                    },
                                }, '¥'),
                                h('span', params.row.servicePrice)
                            ]);
                        }, // 自定义渲染模板
                    }, // 价格
                ], // 服务列信息
                serviceData: [], // 服务数据

                tncColumns: [

                    {
                        title: 'RoomNum',
                        key: 'roomNum',
                        width: 80
                    }, // 包厢号
                    {
                        title: 'Service',
                        key: 'service',
                        align: 'right'
                    }, // 对应服务
                ], // 技师列信息
                tncData: [], // 技师数据

                orderData: {
                    // id: getQueryString('id'),
                    // payment: '微信支付',
                    // date: '2018-10-01 12:00',
                    // customer: '王先生',
                }, // 订单数据

                appointmentData: null, // 预约信息, 如果不是预约订单则变量值应该为null
                overlay: true,
                phone: '',
                logo: '',
            }
        },
        computed: {
            totalPrice() {
                let totalPrice = 0;
                this.serviceData.forEach((data) => {
                    totalPrice += data.servicePrice * data.counts
                });
                return totalPrice;
            }, // 订单总价格
        },
        methods: {
            again() {
                window.location.href = "jishixuanze.html";
            }
        },
        created() {
            var that = this;
            $.post("../php/getorderdetail.php", {
                id: getQueryString('id')
            }).done((res) => {
                res = JSON.parse(res)
                that.orderData = res.co[0];

                that.phone = res.data[0]['phone']
                that.logo = res.data[0]['logo']
                for (var i = 0; i < res.data.length; i++) {
                    that.serviceData.push({
                        serviceName: res.data[i].service_name,
                        counts: 1,
                        servicePrice: res.data[i].price
                    })
                    that.tncData.push({
                        tncName: res.data[i].name,
                        roomNum: res.data[i].job_number,
                        service: res.data[i].service_name
                    })
                    if (res.data[i].appo === null) {

                    } else {
                        that.appointmentData = res.data[i].appo
                    }
                  
                    // that.orderData.payment = pay[res[i].pay_way]
                    // that.orderData.date = res[i].time
                    // that.orderData.customer = res[i].user_id
                }
                var pay = [];
                    pay['0'] = '未支付';
                    pay['1'] = '微信';
                    pay['2'] = '支付宝';
                    pay['3'] = '会员卡';
                    pay['4'] = '现金';
                i = that.orderData['payment_method']
                that.orderData['payment_method'] = pay[i];
                that.overlay = false;
            })
        },
    };
    let Component = Vue.extend(Main);
    let app = new Component().$mount('#app');
</script>

</html>