<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="../css/iview.css" rel="stylesheet">
    <title>历史订单</title>
    <!--<link rel="stylesheet" href="../css/weui-min.css" />-->
    <link rel="stylesheet" href="../css/example.css" />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" type="text/css" href="../css/overlay.css">

    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->

    <style>
        #panel {
            padding: 8px;

        }

        #list-item {
            margin-bottom: 8px;
        }
        .ivu-tabs-nav .ivu-tabs-tab{
            padding: 8px 6px;
        }
        .ivu-tabs-tab{
            font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
            line-height: normal;
        }
        .weui-tabbar{
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            position: fixed;
            z-index: 500;
            bottom: 0;
            width: 100%;
            line-height: 1.6;
            background-color: #F7F7FA;
        }
        .weui-tabbar__item{
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            padding: 5px 0 0;
            font-size: 0;
            color: #808080;
            text-align: center;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        .weui-tabbar__icon {
            display: inline-block;
            width: 27px;
            height: 27px;
        }
        .weui-tabbar__label {
            text-align: center;
            color: #808080;
            font-size: 10px;
            line-height: 1.8;
        }
    </style>
</head>

<body>
    <div style="position: relative;height: 100%;" id="app">
        <div id="panel">



            <!--<el-tabs v-model="activeName" @tab-click="handleClick">-->
            <!--<el-tab-pane label="全部" name="first">全部</el-tab-pane>-->
            <!--<el-tab-pane label="待付款" name="second">待付款</el-tab-pane>-->
            <!--<el-tab-pane label="待消费" name="third">待消费</el-tab-pane>-->
            <!--<el-tab-pane label="待评价" name="fourth">待评价</el-tab-pane>-->
            <!--<el-tab-pane label="售后" name="fifth">售后</el-tab-pane>-->
            <!--</el-tabs>-->


            <row>
                <tabs value="name1">
                    <tab-pane label="全部" name="name1">
                        <div class="page__bd">
                            <div style="position: relative;background: #ffffff;" v-for="od in allorder" id="list-item">
                                <div v-if="od.show==1">
                                    <div style="position: relative;padding: 10px 15px;text-align: right;line-height: 2.5em;">
                                        <div style="overflow: hidden;">
                                            <label style="float: left;margin-right: 1em;min-width: 4em;color: #808080;text-align: justify;text-align-last: justify">时间</label>
                                            <em style="font-style: normal;font-size: 1.6em;display: block;overflow: hidden;word-break: normal;word-wrap: break-word;"
                                                v-text="date('Y-m-d H:i',od.generated_time)"></em>
                                        </div>
                                    </div>
                                    <div style="padding: 10px 15px;font-size: 1em;text-align: right;color: #808080;line-height: 2;">
                                        <div style="overflow: hidden;">
                                            <label style="float: left;margin-right: 1em;min-width: 4em;color: #808080;text-align: justify;text-align-last: justify">消费金额</label>
                                            <span style="display: block;overflow: hidden;word-break: normal;word-wrap: break-word;"
                                                v-text="'￥'+od.pay_amount/100"></span>
                                        </div>
                                        <div style="overflow: hidden;">
                                            <label style="float: left;margin-right: 1em;min-width: 4em;color: #808080;text-align: justify;text-align-last: justify">订单号</label>
                                            <span style="display: block;overflow: hidden;word-break: normal;word-wrap: break-word;"
                                                v-text="od.order_id"></span>
                                        </div>
                                        <div style="overflow: hidden;">
                                            <label style="float: left;margin-right: 1em;min-width: 4em;color: #808080;text-align: justify;text-align-last: justify">状态</label>
                                            <span style="display: block;overflow: hidden;word-break: normal;word-wrap: break-word;color: red"
                                                v-text="'待评价'"></span>
                                        </div>
                                    </div>
                                    <div style="position: relative;line-height: 50px;display: flex;">
                                        <!-- 付完的订单，查看详情进入订单详情 -->
                                        <a v-if="od.state==4 || od.state==5" style="color: #09BB07;position: relative;display: block;-webkit-box-flex: 1;flex: 1;text-align: center;-webkit-tap-highlight-color:rgba(0,0,0,0);"
                                            @click="detail(od.order_id)">查看详情</a>
                                        <!-- 没付完的订单，进入yuyueStatus.html -->
                                        <a v-if="od.state==1" style="color: #09BB07;position: relative;display: block;-webkit-box-flex: 1;flex: 1;text-align: center;-webkit-tap-highlight-color:rgba(0,0,0,0);"
                                            @click="detail_appo(od.order_id)">查看详情</a>

                                        <!-- 付完的订单，删除就是不显示 -->
                                        <a v-if="od.state==4 || od.state==5" style="color: #09BB07;position: relative;display: block;-webkit-box-flex: 1;flex: 1;text-align: center;-webkit-tap-highlight-color:rgba(0,0,0,0);"
                                            @click="del(od.order_id)">删除记录</a>
                                        <!-- 没支付的订单，删除是数据库删除记录 -->
                                        <a v-if="od.state==1" style="color: #09BB07;position: relative;display: block;-webkit-box-flex: 1;flex: 1;text-align: center;-webkit-tap-highlight-color:rgba(0,0,0,0);"
                                            @click="del_appo(od.order_id)">删除记录</a>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-bottom: 50px"></div>
                        </div>
                    </tab-pane>
                    <tab-pane label="待付款" name="name2">
                        <div style="position: relative;background: #ffffff;" v-for="od in nopay" id="list-item">
                            <div v-if="od.show==1">
                                <div style="position: relative;padding: 10px 15px;text-align: right;line-height: 2.5em;">
                                    <div style="overflow: hidden;">
                                        <label style="float: left;margin-right: 1em;min-width: 4em;color: #808080;text-align: justify;text-align-last: justify">预约时间</label>
                                        <em style="font-style: normal;font-size: 1.6em;display: block;overflow: hidden;word-break: normal;word-wrap: break-word;"
                                            v-text="date('Y-m-d H:i',od.appoint_time)"></em>
                                    </div>
                                </div>
                                <div style="padding: 10px 15px;font-size: 1em;text-align: right;color: #808080;line-height: 2;">
                                    <div style="overflow: hidden;">
                                        <label style="float: left;margin-right: 1em;min-width: 4em;color: #808080;text-align: justify;text-align-last: justify">消费金额</label>
                                        <span style="display: block;overflow: hidden;word-break: normal;word-wrap: break-word;"
                                            v-text="'￥'+od.pay_amount/100"></span>
                                    </div>
                                    <div style="overflow: hidden;">
                                        <label style="float: left;margin-right: 1em;min-width: 4em;color: #808080;text-align: justify;text-align-last: justify">订单号</label>
                                        <span style="display: block;overflow: hidden;word-break: normal;word-wrap: break-word;"
                                            v-text="od.order_id"></span>
                                    </div>
                                    <div style="overflow: hidden;">
                                        <label style="float: left;margin-right: 1em;min-width: 4em;color: #808080;text-align: justify;text-align-last: justify">状态</label>
                                        <span style="display: block;overflow: hidden;word-break: normal;word-wrap: break-word;color: red"
                                            v-text="'待付款'"></span>
                                    </div>
                                </div>
                                <div style="position: relative;line-height: 50px;display: flex;">
                                    <a style="color: #09BB07;position: relative;display: block;-webkit-box-flex: 1;flex: 1;text-align: center;-webkit-tap-highlight-color:rgba(0,0,0,0);"
                                        @click="pay_order(od.order_id,od.pay_amount)">支付</a>
                                    <a style="color: #09BB07;position: relative;display: block;-webkit-box-flex: 1;flex: 1;text-align: center;-webkit-tap-highlight-color:rgba(0,0,0,0);"
                                        @click="del_appo(od.order_id)">删除订单</a>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 50px"></div>
                    </tab-pane>
                    <tab-pane label="待消费" name="name6">

                    </tab-pane>
                    <tab-pane label="待评价" name="name4">
                        <div class="page__bd">
                            <div style="position: relative;background: #ffffff;" v-for="od in pay" id="list-item">
                                <div v-if="od.show==1">
                                    <div style="position: relative;padding: 10px 15px;text-align: right;line-height: 2.5em;">
                                        <div style="overflow: hidden;">
                                            <label style="float: left;margin-right: 1em;min-width: 4em;color: #808080;text-align: justify;text-align-last: justify">时间</label>
                                            <em style="font-style: normal;font-size: 1.6em;display: block;overflow: hidden;word-break: normal;word-wrap: break-word;"
                                                v-text="date('Y-m-d H:i',od.generated_time)"></em>
                                        </div>
                                    </div>
                                    <div style="padding: 10px 15px;font-size: 1em;text-align: right;color: #808080;line-height: 2;">
                                        <div style="overflow: hidden;">
                                            <label style="float: left;margin-right: 1em;min-width: 4em;color: #808080;text-align: justify;text-align-last: justify">消费金额</label>
                                            <span style="display: block;overflow: hidden;word-break: normal;word-wrap: break-word;"
                                                v-text="'￥'+od.pay_amount/100"></span>
                                        </div>
                                        <div style="overflow: hidden;">
                                            <label style="float: left;margin-right: 1em;min-width: 4em;color: #808080;text-align: justify;text-align-last: justify">订单号</label>
                                            <span style="display: block;overflow: hidden;word-break: normal;word-wrap: break-word;"
                                                v-text="od.order_id"></span>
                                        </div>
                                        <div style="overflow: hidden;">
                                            <label style="float: left;margin-right: 1em;min-width: 4em;color: #808080;text-align: justify;text-align-last: justify">状态</label>
                                            <span style="display: block;overflow: hidden;word-break: normal;word-wrap: break-word;color: red"
                                                v-text="'待评价'"></span>
                                        </div>
                                    </div>
                                    <div style="position: relative;line-height: 50px;display: flex;">
                                        <a style="color: #09BB07;position: relative;display: block;-webkit-box-flex: 1;flex: 1;text-align: center;-webkit-tap-highlight-color:rgba(0,0,0,0);"
                                            @click="detail(od.order_id)">查看详情</a>
                                        <a style="color: #09BB07;position: relative;display: block;-webkit-box-flex: 1;flex: 1;text-align: center;-webkit-tap-highlight-color:rgba(0,0,0,0);"
                                            @click="del(od.order_id)">删除记录</a>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-bottom: 50px"></div>
                        </div>
                    </tab-pane>
                    <tab-pane label="评价完成" name="name5">
                        <div style="position: relative;background: #ffffff;" v-for="od in com" id="list-item">
                            <div v-if="od.show==1">
                                <div style="position: relative;padding: 10px 15px;text-align: right;line-height: 2.5em;">
                                    <div style="overflow: hidden;">
                                        <label style="float: left;margin-right: 1em;min-width: 4em;color: #808080;text-align: justify;text-align-last: justify">时间</label>
                                        <em style="font-style: normal;font-size: 1.6em;display: block;overflow: hidden;word-break: normal;word-wrap: break-word;"
                                            v-text="date('Y-m-d H:i',od.generated_time)"></em>
                                    </div>
                                </div>
                                <div style="padding: 10px 15px;font-size: 1em;text-align: right;color: #808080;line-height: 2;">
                                    <div style="overflow:hidden;">
                                        <label style="float: left;margin-right: 1em;min-width: 4em;color: #808080;text-align: justify;text-align-last: justify">消费金额</label>
                                        <span style="display: block;overflow: hidden;word-break: normal;word-wrap: break-word;"
                                            v-text="'￥'+od.pay_amount/100"></span>
                                    </div>
                                    <div style="overflow:hidden;">
                                        <label style="float: left;margin-right: 1em;min-width: 4em;color: #808080;text-align: justify;text-align-last: justify">订单号</label>
                                        <span style="display: block;overflow: hidden;word-break: normal;word-wrap: break-word;"
                                            v-text="od.order_id"></span>
                                    </div>
                                    <div style="overflow:hidden;">
                                        <label style="float: left;margin-right: 1em;min-width: 4em;color: #808080;text-align: justify;text-align-last: justify">状态</label>
                                        <span style="display: block;overflow: hidden;word-break: normal;word-wrap: break-word;color: red"
                                            v-text="'完成'"></span>
                                    </div>
                                </div>
                                <div style="position: relative;line-height: 50px;display: flex;">
                                    <a style="color: #09BB07;position: relative;display: block;-webkit-box-flex: 1;flex: 1;text-align: center;-webkit-tap-highlight-color:rgba(0,0,0,0);"
                                        @click="detail(od.order_id)">查看详情</a>
                                    <a style="color: #09BB07;position: relative;display: block;-webkit-box-flex: 1;flex: 1;text-align: center;-webkit-tap-highlight-color:rgba(0,0,0,0);"
                                        @click="comment(od.order_id)">查看评价</a>
                                    <a style="color: #09BB07;position: relative;display: block;-webkit-box-flex: 1;flex: 1;text-align: center;-webkit-tap-highlight-color:rgba(0,0,0,0);"
                                        @click="del(od.order_id)">删除记录</a>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 50px"></div>
                    </tab-pane>
                </tabs>
            </row>
        </div>
        <div class="weui-tabbar">
            <a href="../html/index.html" class="weui-tabbar__item">
                <img src="../src/主页.png" data-original="../src/主页.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">首页</p>
            </a>
            <a href="../html/order.html" class="weui-tabbar__item weui-bar__item_on">
                <img src="../src/订单激活.png" data-original="../src/订单激活.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label" style="color: rgb(9, 187,7);">订单</p>
            </a>
            <a href="../html/customer.html" class="weui-tabbar__item">
                <img src="../src/我的.png" data-original="../src/我的激活.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">我的</p>
            </a>
        </div>
        <div id="modal-overlay" v-show="overlay">
            <div class="modal-data">
                <img src="../src/loading.gif" />
            </div>
        </div>
    </div>
</body>


<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->


<script type="text/javascript" src="../js/jweixin.js"></script>
<script type="text/javascript" src="../js/weui-min.js"></script>
<script type="text/javascript" src="../js/jquery.js"></script>
<script src="../js/vue.js"></script>

<!--<script type="text/javascript" src="../vendor/iview/dist/iview.min.js"></script>-->
<script type="text/javascript" src="../js/iview.min.js"></script>

<script type="text/javascript" src="../js/windowOpen.js"></script>
<script type="text/javascript" src="../js/date-format.js"></script>
<script type="text/javascript">
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    let app = new Vue({
        el: "#app",
        data: {
            activeName: 'first',
            nopay: [],
            pay: [],
            com: [],
            allorder:[],
            overlay: true,
            selector: null,
        },
        methods: {
            handleClick(tab, event) {
                console.log(tab, event);
            },
            select_service() {
                var val = this.selector;
                if (val == 0) {
                    for (var i = 0; i < this.order.length; i++) {
                        this.order[i].show = true;
                    }
                    return
                } else {
                    for (var i = 0; i < this.order.length; i++) {
                        if (this.order[i].state == val) {
                            this.order[i].show = true;
                        } else {
                            this.order[i].show = false;
                        }
                    }
                }
            },
            detail(id) {
                window.location.href = 'dingdanxiangqing.html?id=' + id
            },
            comment(id) {
                window.location.href = 'my-rate.html?id=' + id
            },
            //支付预约订单
            pay_order(id, pay) {
                var url = encodeURIComponent(window.location.href + "?order_id=" + id);
                //金额单位以 分 表示
                window.location.href = "http://1.jthysm.com/dashang/example/jsapiyy.php?pay=" + pay +
                    "&backurl=" + url
            },
            //数据库里删除预约订单
            del_appo(id) {
                $(this).openWindow("", "确认删除吗？该操作无法复原.", ["不", "好的"], () => {
                    $.post("../php/delete_order.php", {
                        order_id: id
                    }).done((res) => {
                        location.reload();
                    })
                })
            },
            detail_appo(id){
                window.location.href = 'dingdanxiangqing.html?id=' + id
            },
            //让某个订单不显示
            del(id) {
                $(this).openWindow("", "确认删除吗？该操作无法复原", ["不", "好的"], () => {
                    $.post("../php/delete_sv_order.php", {
                        id: id
                    }).done((res) => {
                        res = JSON.parse(res);
                        if (res.status == 1) {
                            location.reload();
                        }
                    })
                })
            }
        },
        created() {
            var that = this;
            var payret = getQueryString('payret');
            if (payret === "" || payret === undefined || payret == null) {
                $.post("../php/getbrieforder.php", {
                    openid: 1 //open_id为微信用户的open_id
                }).done((res) => {
                    res = JSON.parse(res);
                    console.log(res);
                    that.nopay = res.nopay;
                    that.pay = res.pay;
                    that.com = res.com;
                    that.allorder = res.allorder;
                    that.overlay = false;
                })
            } else if (payret === "1") {
                $.post("../php/pay_unpaid.php", {
                    order_id: getQueryString('order_id')
                }).done((res) => {
                    window.location.href = "order.html"
                })
            } else if (payret === "2") {
                window.location.href = "order.html";
            }

        }
    })
    $(function () {
        $('.weui-tabbar__item').on('click', function () {
            $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass(
                'weui-bar__item_on');
            $(this).children('.weui-tabbar__icon').attr("src", $(this).children('.weui-tabbar__icon').attr(
                'data-original'));
        });
    });
</script>

</html>